*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.login-container{

    position: relative;
    margin-left: 40%;
    margin-top: 10%;
    padding-left: 20px;
    height: 350px;
    width: 300px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius:20px ;
    border: 1px solid wheat;
    box-shadow: 0 0 20px white;
}

.login-container label{
    object-fit: contain;
    font-style: italic;
    font-size: 19px;
}
#uname{
    margin-top:70px;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    border: black 2px solid;
}
#psw{
    margin-top: 30px;
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    border: black 2px solid;
}
.login-container p{
    margin-top: 15px;
}
.login-container button{

    margin-left: 50px;
    margin-top: 40px;
    padding: 10px;
    width: 160px;
    object-fit: contain;
    border-radius: 20px;
}
.login-container h2{
    position: absolute;
    font-size: 19px;
    margin-left: 70px;
    margin-top: 30px;
}
.login-container button:hover{
    background-color: aqua;
    box-shadow: 0 0 5px aqua,
    0 0 20px aqua,
    0 0 50px aqua,
    0 0 100px aqua;
}
.login-container input:focus{
    box-shadow: 0 0 5px aqua,
    0 0 20px aqua;

}

